CarRentalManagementSystem.Web/Connected Services/CompanyWebService/CompaniesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SignUpAsCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Companies" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Companies">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyAdress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumOfVehicle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyPoints" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicles" type="tns:ArrayOfVehicles" />
          <s:element minOccurs="0" maxOccurs="1" name="Employees" type="tns:ArrayOfEmployees" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVehicles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vehicles" nillable="true" type="tns:Vehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VehicleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesInstantKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasAirbag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TrunkVolume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatingCapacity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyRentalPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AgeLimitForDrivingThisCar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KmLimitPerDay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiredDrivingLicenseAge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAvailableAtTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRentalRequests">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RentalRequests" nillable="true" type="tns:RentalRequests" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RentalRequests">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RentalRequestId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentalRequestCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedSupplierCompanyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedVehicleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedPickUpDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedDropOffDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequestCustomer" type="tns:Customers" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedSupplierCompany" type="tns:Companies" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedVehicle" type="tns:Vehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customers">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerSurname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalIdcard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRentedVehicles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RentedVehicles" nillable="true" type="tns:RentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RentedVehicles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentedVehicleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierCompanyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PickUpDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DropOffDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesPickUpKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesDropOffKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentalPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DriverCustomer" type="tns:Customers" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicle" type="tns:Vehicles" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierCompany" type="tns:Companies" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmployees">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employees" nillable="true" type="tns:Employees" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employees">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeesId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeesCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployessPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesCompany" type="tns:Companies" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignUpAsCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignUpAsCompanyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInAsCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInAsCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogInAsCompanyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCompanyAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCompanyAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCompanyAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Companies" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCompanies">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCompaniesResult" type="tns:ArrayOfCompanies" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompanies">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Companies" nillable="true" type="tns:Companies" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCompanyInformationByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyInformationByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyInformationByIDResult" type="tns:Companies" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignUpAsCompanySoapIn">
    <wsdl:part name="parameters" element="tns:SignUpAsCompany" />
  </wsdl:message>
  <wsdl:message name="SignUpAsCompanySoapOut">
    <wsdl:part name="parameters" element="tns:SignUpAsCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="LogInAsCompanySoapIn">
    <wsdl:part name="parameters" element="tns:LogInAsCompany" />
  </wsdl:message>
  <wsdl:message name="LogInAsCompanySoapOut">
    <wsdl:part name="parameters" element="tns:LogInAsCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCompanyAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCompanyAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteCompanyAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCompanyAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCompanies" />
  </wsdl:message>
  <wsdl:message name="GetAllCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyInformationByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyInformationByID" />
  </wsdl:message>
  <wsdl:message name="GetCompanyInformationByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyInformationByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="CompanyWebServiceSoap">
    <wsdl:operation name="SignUpAsCompany">
      <wsdl:input message="tns:SignUpAsCompanySoapIn" />
      <wsdl:output message="tns:SignUpAsCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogInAsCompany">
      <wsdl:input message="tns:LogInAsCompanySoapIn" />
      <wsdl:output message="tns:LogInAsCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyAccount">
      <wsdl:input message="tns:DeleteCompanyAccountSoapIn" />
      <wsdl:output message="tns:DeleteCompanyAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input message="tns:GetAllCompaniesSoapIn" />
      <wsdl:output message="tns:GetAllCompaniesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyInformationByID">
      <wsdl:input message="tns:GetCompanyInformationByIDSoapIn" />
      <wsdl:output message="tns:GetCompanyInformationByIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompanyWebServiceSoap" type="tns:CompanyWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUpAsCompany">
      <soap:operation soapAction="http://tempuri.org/SignUpAsCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInAsCompany">
      <soap:operation soapAction="http://tempuri.org/LogInAsCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyAccount">
      <soap:operation soapAction="http://tempuri.org/DeleteCompanyAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <soap:operation soapAction="http://tempuri.org/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyInformationByID">
      <soap:operation soapAction="http://tempuri.org/GetCompanyInformationByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompanyWebServiceSoap12" type="tns:CompanyWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUpAsCompany">
      <soap12:operation soapAction="http://tempuri.org/SignUpAsCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInAsCompany">
      <soap12:operation soapAction="http://tempuri.org/LogInAsCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyAccount">
      <soap12:operation soapAction="http://tempuri.org/DeleteCompanyAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <soap12:operation soapAction="http://tempuri.org/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyInformationByID">
      <soap12:operation soapAction="http://tempuri.org/GetCompanyInformationByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyWebService">
    <wsdl:port name="CompanyWebServiceSoap" binding="tns:CompanyWebServiceSoap">
      <soap:address location="http://localhost:56717/CompaniesWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CompanyWebServiceSoap12" binding="tns:CompanyWebServiceSoap12">
      <soap12:address location="http://localhost:56717/CompaniesWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>