CarRentalManagementSystem.Web/Connected Services/VehicleWebService/VehiclesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllAvaliableVehicles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="currentdatetime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAvaliableVehiclesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAvaliableVehiclesResult" type="tns:ArrayOfVehicles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVehicles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vehicles" nillable="true" type="tns:Vehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VehicleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesInstantKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasAirbag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TrunkVolume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatingCapacity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyRentalPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AgeLimitForDrivingThisCar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KmLimitPerDay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiredDrivingLicenseAge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAvailableAtTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRentalRequests">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RentalRequests" nillable="true" type="tns:RentalRequests" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RentalRequests">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RentalRequestId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentalRequestCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedSupplierCompanyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedVehicleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedPickUpDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedDropOffDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequestCustomer" type="tns:Customers" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedSupplierCompany" type="tns:Companies" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedVehicle" type="tns:Vehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customers">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerSurname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalIdcard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRentedVehicles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RentedVehicles" nillable="true" type="tns:RentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RentedVehicles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentedVehicleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierCompanyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PickUpDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DropOffDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesPickUpKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesDropOffKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentalPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DriverCustomer" type="tns:Customers" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicle" type="tns:Vehicles" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierCompany" type="tns:Companies" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Companies">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyAdress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumOfVehicle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyPoints" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicles" type="tns:ArrayOfVehicles" />
          <s:element minOccurs="0" maxOccurs="1" name="Employees" type="tns:ArrayOfEmployees" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmployees">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employees" nillable="true" type="tns:Employees" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employees">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeesId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeesCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployessPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesCompany" type="tns:Companies" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCompanysAllVehicles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanysAllVehiclesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanysAllVehiclesResult" type="tns:ArrayOfVehicles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanysAllRentedVehicles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanysAllRentedVehiclesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanysAllRentedVehiclesResult" type="tns:ArrayOfRentedVehicles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleByIDResult" type="tns:Vehicles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddVehicle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Vehicles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddVehicleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddVehicleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateVehicle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Vehicles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateVehicleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateVehicleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVehicle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVehicleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteVehicleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllAvaliableVehiclesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAvaliableVehicles" />
  </wsdl:message>
  <wsdl:message name="GetAllAvaliableVehiclesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAvaliableVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanysAllVehiclesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanysAllVehicles" />
  </wsdl:message>
  <wsdl:message name="GetCompanysAllVehiclesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanysAllVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanysAllRentedVehiclesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanysAllRentedVehicles" />
  </wsdl:message>
  <wsdl:message name="GetCompanysAllRentedVehiclesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanysAllRentedVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleByID" />
  </wsdl:message>
  <wsdl:message name="GetVehicleByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleByIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddVehicleSoapIn">
    <wsdl:part name="parameters" element="tns:AddVehicle" />
  </wsdl:message>
  <wsdl:message name="AddVehicleSoapOut">
    <wsdl:part name="parameters" element="tns:AddVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateVehicleSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateVehicle" />
  </wsdl:message>
  <wsdl:message name="UpdateVehicleSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteVehicleSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteVehicle" />
  </wsdl:message>
  <wsdl:message name="DeleteVehicleSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteVehicleResponse" />
  </wsdl:message>
  <wsdl:portType name="VehiclesWebServiceSoap">
    <wsdl:operation name="GetAllAvaliableVehicles">
      <wsdl:input message="tns:GetAllAvaliableVehiclesSoapIn" />
      <wsdl:output message="tns:GetAllAvaliableVehiclesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanysAllVehicles">
      <wsdl:input message="tns:GetCompanysAllVehiclesSoapIn" />
      <wsdl:output message="tns:GetCompanysAllVehiclesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanysAllRentedVehicles">
      <wsdl:input message="tns:GetCompanysAllRentedVehiclesSoapIn" />
      <wsdl:output message="tns:GetCompanysAllRentedVehiclesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleByID">
      <wsdl:input message="tns:GetVehicleByIDSoapIn" />
      <wsdl:output message="tns:GetVehicleByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddVehicle">
      <wsdl:input message="tns:AddVehicleSoapIn" />
      <wsdl:output message="tns:AddVehicleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicle">
      <wsdl:input message="tns:UpdateVehicleSoapIn" />
      <wsdl:output message="tns:UpdateVehicleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicle">
      <wsdl:input message="tns:DeleteVehicleSoapIn" />
      <wsdl:output message="tns:DeleteVehicleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VehiclesWebServiceSoap" type="tns:VehiclesWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllAvaliableVehicles">
      <soap:operation soapAction="http://tempuri.org/GetAllAvaliableVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanysAllVehicles">
      <soap:operation soapAction="http://tempuri.org/GetCompanysAllVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanysAllRentedVehicles">
      <soap:operation soapAction="http://tempuri.org/GetCompanysAllRentedVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleByID">
      <soap:operation soapAction="http://tempuri.org/GetVehicleByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVehicle">
      <soap:operation soapAction="http://tempuri.org/AddVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicle">
      <soap:operation soapAction="http://tempuri.org/UpdateVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicle">
      <soap:operation soapAction="http://tempuri.org/DeleteVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VehiclesWebServiceSoap12" type="tns:VehiclesWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllAvaliableVehicles">
      <soap12:operation soapAction="http://tempuri.org/GetAllAvaliableVehicles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanysAllVehicles">
      <soap12:operation soapAction="http://tempuri.org/GetCompanysAllVehicles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanysAllRentedVehicles">
      <soap12:operation soapAction="http://tempuri.org/GetCompanysAllRentedVehicles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleByID">
      <soap12:operation soapAction="http://tempuri.org/GetVehicleByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVehicle">
      <soap12:operation soapAction="http://tempuri.org/AddVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicle">
      <soap12:operation soapAction="http://tempuri.org/UpdateVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicle">
      <soap12:operation soapAction="http://tempuri.org/DeleteVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehiclesWebService">
    <wsdl:port name="VehiclesWebServiceSoap" binding="tns:VehiclesWebServiceSoap">
      <soap:address location="http://localhost:56717/VehiclesWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="VehiclesWebServiceSoap12" binding="tns:VehiclesWebServiceSoap12">
      <soap12:address location="http://localhost:56717/VehiclesWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>