CarRentalManagementSystem.Web/Connected Services/EmployeeWebService/EmployeesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SignUpAsEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Employees" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employees">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeesId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeesCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployessPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesCompany" type="tns:Companies" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Companies">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyAdress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumOfVehicle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyPoints" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicles" type="tns:ArrayOfVehicles" />
          <s:element minOccurs="0" maxOccurs="1" name="Employees" type="tns:ArrayOfEmployees" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVehicles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vehicles" nillable="true" type="tns:Vehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VehicleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesInstantKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasAirbag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TrunkVolume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatingCapacity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyRentalPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AgeLimitForDrivingThisCar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KmLimitPerDay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiredDrivingLicenseAge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAvailableAtTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRentalRequests">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RentalRequests" nillable="true" type="tns:RentalRequests" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RentalRequests">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RentalRequestId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentalRequestCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedSupplierCompanyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedVehicleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedPickUpDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedDropOffDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequestCustomer" type="tns:Customers" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedSupplierCompany" type="tns:Companies" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedVehicle" type="tns:Vehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customers">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerSurname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalIdcard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRentedVehicles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RentedVehicles" nillable="true" type="tns:RentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RentedVehicles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentedVehicleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierCompanyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PickUpDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DropOffDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesPickUpKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesDropOffKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentalPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DriverCustomer" type="tns:Customers" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicle" type="tns:Vehicles" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierCompany" type="tns:Companies" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmployees">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employees" nillable="true" type="tns:Employees" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignUpAsEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignUpAsEmployeeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInAsEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInAsEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogInAsEmployeeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteEmployeeAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Employees" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeesResult" type="tns:ArrayOfEmployees" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeInformationByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeInformationByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeInformationByIDResult" type="tns:Employees" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanysAllEmployees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanysAllEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanysAllEmployeesResult" type="tns:ArrayOfEmployees" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignUpAsEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:SignUpAsEmployee" />
  </wsdl:message>
  <wsdl:message name="SignUpAsEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:SignUpAsEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="LogInAsEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:LogInAsEmployee" />
  </wsdl:message>
  <wsdl:message name="LogInAsEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:LogInAsEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeInformationByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeInformationByID" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeInformationByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeInformationByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanysAllEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanysAllEmployees" />
  </wsdl:message>
  <wsdl:message name="GetCompanysAllEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanysAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeesWebServiceSoap">
    <wsdl:operation name="SignUpAsEmployee">
      <wsdl:input message="tns:SignUpAsEmployeeSoapIn" />
      <wsdl:output message="tns:SignUpAsEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogInAsEmployee">
      <wsdl:input message="tns:LogInAsEmployeeSoapIn" />
      <wsdl:output message="tns:LogInAsEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeAccount">
      <wsdl:input message="tns:DeleteEmployeeAccountSoapIn" />
      <wsdl:output message="tns:DeleteEmployeeAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input message="tns:GetAllEmployeesSoapIn" />
      <wsdl:output message="tns:GetAllEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInformationByID">
      <wsdl:input message="tns:GetEmployeeInformationByIDSoapIn" />
      <wsdl:output message="tns:GetEmployeeInformationByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanysAllEmployees">
      <wsdl:input message="tns:GetCompanysAllEmployeesSoapIn" />
      <wsdl:output message="tns:GetCompanysAllEmployeesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesWebServiceSoap" type="tns:EmployeesWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUpAsEmployee">
      <soap:operation soapAction="http://tempuri.org/SignUpAsEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInAsEmployee">
      <soap:operation soapAction="http://tempuri.org/LogInAsEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeAccount">
      <soap:operation soapAction="http://tempuri.org/DeleteEmployeeAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInformationByID">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeInformationByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanysAllEmployees">
      <soap:operation soapAction="http://tempuri.org/GetCompanysAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeesWebServiceSoap12" type="tns:EmployeesWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUpAsEmployee">
      <soap12:operation soapAction="http://tempuri.org/SignUpAsEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInAsEmployee">
      <soap12:operation soapAction="http://tempuri.org/LogInAsEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeAccount">
      <soap12:operation soapAction="http://tempuri.org/DeleteEmployeeAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap12:operation soapAction="http://tempuri.org/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInformationByID">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeInformationByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanysAllEmployees">
      <soap12:operation soapAction="http://tempuri.org/GetCompanysAllEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesWebService">
    <wsdl:port name="EmployeesWebServiceSoap" binding="tns:EmployeesWebServiceSoap">
      <soap:address location="http://localhost:56717/EmployeesWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeesWebServiceSoap12" binding="tns:EmployeesWebServiceSoap12">
      <soap12:address location="http://localhost:56717/EmployeesWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>