CarRentalManagementSystem.Web/Connected Services/RentalRequestWebService/RentalRequestWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MakeRentalRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:RentalRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RentalRequests">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RentalRequestId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentalRequestCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedSupplierCompanyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedVehicleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedPickUpDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedDropOffDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequestCustomer" type="tns:Customers" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedSupplierCompany" type="tns:Companies" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedVehicle" type="tns:Vehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customers">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerSurname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalIdcard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRentalRequests">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RentalRequests" nillable="true" type="tns:RentalRequests" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRentedVehicles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RentedVehicles" nillable="true" type="tns:RentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RentedVehicles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentedVehicleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierCompanyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PickUpDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DropOffDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesPickUpKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesDropOffKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RentalPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DriverCustomer" type="tns:Customers" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicle" type="tns:Vehicles" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierCompany" type="tns:Companies" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VehicleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesInstantKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasAirbag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TrunkVolume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatingCapacity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyRentalPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AgeLimitForDrivingThisCar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KmLimitPerDay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiredDrivingLicenseAge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAvailableAtTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VehiclesCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Companies">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyAdress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumOfVehicle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyPoints" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicles" type="tns:ArrayOfVehicles" />
          <s:element minOccurs="0" maxOccurs="1" name="Employees" type="tns:ArrayOfEmployees" />
          <s:element minOccurs="0" maxOccurs="1" name="RentalRequests" type="tns:ArrayOfRentalRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="RentedVehicles" type="tns:ArrayOfRentedVehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVehicles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vehicles" nillable="true" type="tns:Vehicles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmployees">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employees" nillable="true" type="tns:Employees" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employees">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeesId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeesCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployessPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeesCompany" type="tns:Companies" />
        </s:sequence>
      </s:complexType>
      <s:element name="MakeRentalRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MakeRentalRequestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRentalRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:RentalRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRentalRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateRentalRequestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelRentalRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelRentalRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelRentalRequestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentalRequests">
        <s:complexType />
      </s:element>
      <s:element name="GetRentalRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentalRequestsResult" type="tns:ArrayOfRentalRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanysRentalRequests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanysRentalRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanysRentalRequestsResult" type="tns:ArrayOfRentalRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomersRentalRequests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomersRentalRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersRentalRequestsResult" type="tns:ArrayOfRentalRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentalRequestByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentalRequestByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentalRequestByIDResult" type="tns:RentalRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeRentalRequestSoapIn">
    <wsdl:part name="parameters" element="tns:MakeRentalRequest" />
  </wsdl:message>
  <wsdl:message name="MakeRentalRequestSoapOut">
    <wsdl:part name="parameters" element="tns:MakeRentalRequestResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRentalRequestSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRentalRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateRentalRequestSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRentalRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CancelRentalRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CancelRentalRequest" />
  </wsdl:message>
  <wsdl:message name="CancelRentalRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CancelRentalRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetRentalRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRentalRequests" />
  </wsdl:message>
  <wsdl:message name="GetRentalRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRentalRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanysRentalRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanysRentalRequests" />
  </wsdl:message>
  <wsdl:message name="GetCompanysRentalRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanysRentalRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersRentalRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomersRentalRequests" />
  </wsdl:message>
  <wsdl:message name="GetCustomersRentalRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersRentalRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRentalRequestByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetRentalRequestByID" />
  </wsdl:message>
  <wsdl:message name="GetRentalRequestByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetRentalRequestByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="RentalRequestWebServiceSoap">
    <wsdl:operation name="MakeRentalRequest">
      <wsdl:input message="tns:MakeRentalRequestSoapIn" />
      <wsdl:output message="tns:MakeRentalRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRentalRequest">
      <wsdl:input message="tns:UpdateRentalRequestSoapIn" />
      <wsdl:output message="tns:UpdateRentalRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelRentalRequest">
      <wsdl:input message="tns:CancelRentalRequestSoapIn" />
      <wsdl:output message="tns:CancelRentalRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRentalRequests">
      <wsdl:input message="tns:GetRentalRequestsSoapIn" />
      <wsdl:output message="tns:GetRentalRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanysRentalRequests">
      <wsdl:input message="tns:GetCompanysRentalRequestsSoapIn" />
      <wsdl:output message="tns:GetCompanysRentalRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomersRentalRequests">
      <wsdl:input message="tns:GetCustomersRentalRequestsSoapIn" />
      <wsdl:output message="tns:GetCustomersRentalRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRentalRequestByID">
      <wsdl:input message="tns:GetRentalRequestByIDSoapIn" />
      <wsdl:output message="tns:GetRentalRequestByIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RentalRequestWebServiceSoap" type="tns:RentalRequestWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeRentalRequest">
      <soap:operation soapAction="http://tempuri.org/MakeRentalRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRentalRequest">
      <soap:operation soapAction="http://tempuri.org/UpdateRentalRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRentalRequest">
      <soap:operation soapAction="http://tempuri.org/CancelRentalRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentalRequests">
      <soap:operation soapAction="http://tempuri.org/GetRentalRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanysRentalRequests">
      <soap:operation soapAction="http://tempuri.org/GetCompanysRentalRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersRentalRequests">
      <soap:operation soapAction="http://tempuri.org/GetCustomersRentalRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentalRequestByID">
      <soap:operation soapAction="http://tempuri.org/GetRentalRequestByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RentalRequestWebServiceSoap12" type="tns:RentalRequestWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeRentalRequest">
      <soap12:operation soapAction="http://tempuri.org/MakeRentalRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRentalRequest">
      <soap12:operation soapAction="http://tempuri.org/UpdateRentalRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRentalRequest">
      <soap12:operation soapAction="http://tempuri.org/CancelRentalRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentalRequests">
      <soap12:operation soapAction="http://tempuri.org/GetRentalRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanysRentalRequests">
      <soap12:operation soapAction="http://tempuri.org/GetCompanysRentalRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersRentalRequests">
      <soap12:operation soapAction="http://tempuri.org/GetCustomersRentalRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentalRequestByID">
      <soap12:operation soapAction="http://tempuri.org/GetRentalRequestByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentalRequestWebService">
    <wsdl:port name="RentalRequestWebServiceSoap" binding="tns:RentalRequestWebServiceSoap">
      <soap:address location="http://localhost:56717/RentalRequestWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RentalRequestWebServiceSoap12" binding="tns:RentalRequestWebServiceSoap12">
      <soap12:address location="http://localhost:56717/RentalRequestWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>